
body {
  background-color: #800080;
  color#AAAAAA;
}

.gley {color:grey;}
.glim {color:yellow;}

#newton {color:grey;font-weight:bold}
#thermo {color:grey;font-weight:bold}

p:first-line{color:#fadadd;font-size:20px}
    
