
body {
  background-color: #800080;
  color#AAAAAA;
}

.gley {color:grey;}
.glim {color:yellow;}

#newton {color:grey;font-weight:bold}
#thermo {color:grey;font-weight:bold}

h3:first-line{color:#fadadd;font-size:20px}
li:hover:after{color:#fadadd;font-size: 110%;content: "Bullets on Byzantium"}
    
